/* SlideShow */
* {box-sizing:border-box}

/* Slide Container */
.slideContainer {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hidden Pix */
.mySlides {
  display: none;
}

/* Next & Previous B */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #000000;
  font-weight: bold;
  font-size: 32px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Positioning for Next B */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Hover Transparency */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Pix Caption */
.text {
  color: #000000;
  font-size: 32px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-style: italic;
  font-weight: bold;
}

/* Pix Caption Order */
.slideOrder {
  color: #000000;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  right: 0;
}

/* Dot! */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Pix Transition Fade */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* SlideShow End */

/* Info */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 20px auto;
  background-color: #ffffff;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #333;
  color: #ffffff;
}

caption {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  color: #000000;
}